

/* override bartik style */

  ul.action-links {margin: 0; padding: 0}

  ul li.collapsed,
  ul li.expanded,
  ul li.leaf {margin: 0; padding: 0 0 0 1.5em; list-style: none}
  ul li.collapsed {background: url('images/menu-collapsed.png') no-repeat 0 .2em}
  ul li.expanded {background: url('images/menu-expanded.png') no-repeat 0 .2em}
  .page-part-dark ul li.collapsed {background: url('images/menu-collapsed-w.png') no-repeat}
  .page-part-dark ul li.expanded {background: url('images/menu-expanded-w.png') no-repeat}


/* metro-menu styles */

  .page-part-line .block-ntm {
    position: relative;
    left: -10px}

  .page-part-dark .menu-ntm-decor-default a {
    background-color: #025b98}
  .page-part-dark .menu-ntm-decor-default li:hover > a,
  .page-part-dark .menu-ntm-decor-default a.active,
  .page-part-dark .menu-ntm-decor-default li.active_trail > a {
    background-color: #555}

  .page-part-dark .menu-ntm-decor-default ul ul a {
    background-color: #757575}
  .page-part-dark .menu-ntm-decor-default ul ul li:hover > a,
  .page-part-dark .menu-ntm-decor-default ul ul a.active,
  .page-part-dark .menu-ntm-decor-default ul ul li.active_trail > a {
    background-color: #555}

  .page-part-dark .menu-ntm-decor-default li.has_child > a {
    padding-right: 1.5em;
    background-image: url('images/menu-collapsed-w.png')}
  .page-part-dark .menu-ntm-decor-default > ul > li.has_child > a {
    background-image: url('images/menu-expanded-w.png')}

  .page-part-dark .menu-ntm-decor-default-style-left li {
    border-bottom-color: #2a98ed;
    border-bottom-style: dotted}
  .page-part-dark .menu-ntm-decor-default-style-left li li {
    border-bottom-color: #8a8a8b;
    border-bottom-style: solid}

  .page-part-dark .menu-ntm-decor-default-style-down li {
    border-right-color: #2a98ed;
    border-right-style: dotted}
  .page-part-dark .menu-ntm-decor-default-style-down li li {
    border-bottom-color: #8a8a8b}


/* menus styles in line part */

  .page-part-line .block-menu {border: 0}
  .page-part-line .block-menu ul,
  .page-part-line .block-menu li {margin: 0; padding: 0; list-style: none}
  .page-part-line .block-menu li {display: inline-block; margin-right: 1em; padding-right: 1.5em; border-right: 1px dotted #fff; line-height: 1.2em}
  .page-part-line .block-menu li.last {margin-right: 0; padding-right: 0; border-right: 0}

