

/* override bartik style */

  body {font-size: 14px; background: #f2f4f4}
  .content {margin-top: 0}
  .clearfix:after {overflow: hidden}
  .clearfix-left {clear: left}
  .clearfix-right {clear: right}

  a, a:link, a:visited  {text-decoration: underline}
  a.active {color: #000}
  table thead a.active {color: #fff}

  div.messages {margin: 8px 0}

  .breadcrumb {font-size: .7em}
  .tabs ul.primary {padding: 0}
  .tabs ul.primary li a {border-top-left-radius: 0; border-top-right-radius: 0}
  .tabs .primary a:hover {}

  div.admin-panel {border: 0; margin: 1.5em 0; padding: .5em 1em}
  div.admin-panel h3 {margin: .5em 0 1em 0; font-size: 1.4em}
  div.admin-panel .body {padding: 0}
  div.admin-panel .body dl.admin-list dt,
  div.admin-panel .body dl.admin-list dd {margin: 0; padding: 0; border: 0}
  div.admin-panel .body dl.admin-list dt {margin-top: .5em}
  div.admin-panel .body dl.admin-list dd {font-size: .8em}

  h1 {font-size: 1.8em}
  h2 {font-size: 1.6em}
  h3 {font-size:   1em}

  h1.page-title {margin: 20px 0}

  .body-part  .pp-data-with-left-column #book-outline {min-width: auto}
  .body-part  .pp-data-with-left-column #edit-fields-add-existing-field-field-name {width: 275px}


/* theme styles */

  .page-part-dark {color: #fff; background: #025b98}
  .page-part-dark a {color: #fff}
  .page-part-dark a.active {color: #6ac2fd}

  .page-admin-structure-block-demo .block-region {
    margin: 0;
    border: 0}


  #logo {float: left; margin-right: 20px; padding: 0}
  #logo img {display: block}


  .page-part .pp-data {
    width: 900px;
    margin: 0 auto}


  .head-part {}
  .head-part .pp-data {
    min-height: 1em;
    padding: 20px 0;
    font-size: .8em}
  .head-part .region-m-user-menu {float: right}
  .head-part .region-m-header {float: left}
  .head-part .region-m-admin-area {clear: both; margin-bottom: 10px}


  .body-part {}
  .body-part .pp-data {
    min-height: 800px;
    padding: 0 0 30px 0;
    background: #fff}
  .body-part .column-l .column-data {padding: 10px}
  .body-part .column-m .column-data {padding: 10px}
  .body-part .pp-data-with-left-column .column-l {width: 250px; float: left}
  .body-part .pp-data-with-left-column .column-m {width: 650px; float: right}


  .foot-part {}
  .foot-part .pp-data {
    min-height: 1em;
    padding: 20px 0;
    font-size: .8em}
  .foot-part .column-l .column-data {padding: 10px}
  .foot-part .column-m .column-data {padding: 10px}
  .foot-part .pp-data-with-left-column .column-l {width: 250px; float: left}
  .foot-part .pp-data-with-left-column .column-m {width: 650px; float: right}


  .tech-part-bottom {
    position: absolute;
    top: -10000px;
    left: -10000px}


/* form styles */

  input.form-submit, a.button {padding: 4px 17px 3px 17px; border-radius: 0}
  input.form-text, textarea.form-textarea, select.form-select {padding: 3px}

  html.js input.form-autocomplete {padding-right: 25px; background-position: 99% 7px}
  html.js input.throbbing {background-position: 99% -13px}

  .filter-help {padding: 0 4px 4px 4px}
  .filter-help a {padding: 0 20px 2px 2px}

  .confirmation #edit-actions #edit-cancel {
    position: relative;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: .9em;
    color: #3a3a3a;
    text-decoration: none;
    vertical-align: middle;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #b4b4b4;
    border-left: 1px solid #d2d2d2;
    background: url('../../../../themes/bartik/images/buttons.png') repeat-x #efefef}
  .confirmation #edit-actions #edit-cancel:hover {
    background: #dedede}

  input.form-text,
  textarea.form-textarea,
  select.form-select {font-size: 13px}

  .form-item input.error,
  .form-item textarea.error,
  .form-item select.error {
    border-width: 1px}
  .form-item label {margin-bottom: 5px}
  .form-item .description {margin-top: 5px; color: #aaa}


  .page-part-line #user-login-form .form-item {float: left; margin: 0 10px 0 0}
  .page-part-line #user-login-form .form-item .form-text {width: 10em}
  .page-part-line #user-login-form .form-item #edit-openid-identifier {width: 20.1em}
  .page-part-line #user-login-form #edit-actions {float: left; margin: 17px 0 0 0; padding: 0}
  .page-part-line #user-login-form #edit-actions .form-submit {margin: 0 10px 0 0; padding: 3px 10px}
  .page-part-line #user-login-form .item-list ul,
  .page-part-line #user-login-form .item-list li {margin: 0; padding: 0; list-style: none}
  .page-part-line #user-login-form .links-wr {float: left; margin-top: 12px; font-size: .9em; text-align: right; text-transform: lowercase}
  .page-part-line #user-login-form .links-openid-wr {float: left; clear: left}


  .page-part-line #block-search-form .form-item-search-block-form input {
    width: 19.8em;
    margin-right: 10px;
    padding: 5px}


/* node styles */

  .node .submitted {
    margin-bottom: 20px}


/* comments styles */

  #comments {margin-top: 100px}
  #comments h2.title {font-size: 1.6em}
  #comments #comment-form #edit-author--2 {display: none}




